.main2 {
    margin-top: 100px;
    width: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    background: rgba(164, 135, 231, 0.253);
    margin-top: -390px;
}
    .features-desc {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
    }
        .features-desc > h2,p {
            width: 600px;
            text-align: left;
        }
        .features-desc > h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: normal;

            color: #333333;
        }
        .features-desc > p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: normal;

            color: #666666;
        }
        
        .features-list {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            list-style: none;
            margin: auto;
            padding: 0;
        } 
        .features-list li > h4 {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: normal;
            margin-bottom: 5px;
            color: #333333;
        }
        .features-list li > p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: normal;
            width: 100%;
            color: #666666;
        }
        .features-list li {
            display: flex;
            flex-flow: column;
            max-width: 400px;
            margin: 5px;
        }
        .features-list li > img {
            width: 120px;
            height: 120px;
            margin: auto;
        }