.main2 {
    margin-top: 100px;
 
    padding: 50px 20px;
    box-sizing: border-box;
  
    max-width: 1180px;
    margin: 50px auto;
    box-sizing: border-box;
}
    .features-desc {

        padding: 0;
    }
        .features-desc > h2 {
            margin: 30px auto;
            text-align: center;
        }
        .features-desc > h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: normal;
            margin-bottom: 50px;
            color: #333333;
        }
        .features-desc > p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: normal;
            text-align: center;
            color: #666666;
            margin-bottom: 100px;
        }
        
        .features-list {
            display: block;
            list-style: none;
            margin: 30px auto;
            padding: 0;
        } 
        .features-list li > div > h4 {
            line-height: 1.4;
            font-size: 2rem;
            text-align: left;
            font-weight: 700;
            color: #070E18;
        }
        .features-list li > div {
            width: 70%;
            padding-left: 32px;
            padding-right: 32px;
            margin-bottom: 15px;
        }
        .features-list li > div > p {
            display: block;
            font-style: normal;
            font-weight: normal;
            text-align: left;
            font-size: 18.8px;
            color: rgb(7, 14, 24);
            line-height: normal; 
        }
      
        .features-list li {
            max-width: 1152px;
            display: flex;

            align-items: center;
            margin: 70px auto;
        }
        .features-list li > img {
            margin: 0;
            max-width: 300px;
            width: 100%;
            height: 220px;
           
            vertical-align: middle;
        }