.signup {
    text-align: center;
    color: #272626 !important;
    margin: auto;
}
    .title {
        margin: 100px auto;
        margin-bottom: 50px;
        font-size: 36px;
    }
        .title:hover {
            color: rgb(108, 67, 231);
        }
    .form {
        border-radius: 5px;
        border: 1px solid #2c2c543d;
        box-shadow: 0px 0px 8px #3636361c;
        margin: auto;
        
        max-width: 440px;
        padding: 20px;
    }

    input {
        display: block;
        outline: none;
        border: 1px solid #e6e9ec;
        border-radius: 6px;
        background-color: #f9fafb;
        color: #272626;
        font-weight: 600;
        text-align: center;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        -ms-border-radius: 6px;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 1, 1, 0.06);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 1, 1, 0.06);
        -o-box-shadow: inset 0px 1px 3px 0px rgba(0, 1, 1, 0.06);
        -ms-box-shadow: inset 0px 1px 3px 0px rgba(0, 1, 1, 0.06);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 1, 1, 0.06);
        height: 50px;
        padding: 0 15px;
        font-size: 18px;
        margin: 15px 0;
        width: 100%;
    }

    .signup a {
        text-decoration: none;
        color: inherit;
    }
    